.proclass ul{
	width:800px;
}
.proclass ul li a{
	width:120px;
}

#gkTop2 div{
	float:left;
	
}
.leftSide{
	border:0px solid black; 
	width: 300px; 
	height: 500px;
}
.leftSide .zkBtn,.bmBtn,.xwBtn,.adBtn{
	border:1px solid #808080;
	margin:2px 0px 2px 0px;
	width: 100%;
}
.leftSide .zkBtn{
	margin-top: 0px;
	height: 50px;
}
.leftSide .bmBtn{
	height: 50px;
}
.leftSide .xwBtn .xwTitle{
	height: 50px;
	width: 100%;
}
.leftSide .xwBtn .xwList{
	width: 99%;
}
.leftSide .xwBtn .xwList div{
	width: 100%;
}
.leftSide .xwBtn .xwList1{
	width: 99%;
	min-height: 170px;
}
.leftSide .xwBtn .xwList1 div{
	margin:2px 2px 2px 3px;
	border:1px solid #c0c0c0;
	width: 141px;
	background:url(../images/bk_04.jpg);
	text-align:center;
	font-family:'微软雅黑'; 
	color: #000000;
}

.rightSide{
	margin-left: 10px;
	border:0px solid #808080; 
	width: 784px; 
}
.rightSide .zkTitle,.bkTitle, .newsTitle, .zyjsTitle, .kctdTitle, .bmdzTitle, .kcjsTitle{
	width: 100%;
	border:1px solid #808080;
	border-bottom: 0px;
	height: 40px;
}
.rightSide .zkList,.bkList,.newsList,.newsDetail,.zyjsDetail,.kctdDetail,.bmdzDetail,.kcjsDetail{
	width: 100%;
	border:1px solid #808080;
	border-top: 0px;
}
.rightSide .listDiv{
	width: 240px;
	height: 165px;
	border:0px solid #808080;
	float:left;
	margin: 5px 9px 5px 9px; 
}
.rightSide .listDiv table{
	margin:5px auto;
}
.rightSide .listDiv table .titleTd{
	font:'黑体'; 
	font-size:24px; 
	color:#FFFFFF; 
	font-weight: 200;
	padding-left:8px;
}
.rightSide .listDiv table .contentTd{
	font:'黑体'; 
	font-size:15px; 
	color:#FFFFFF; 
	padding-left:8px;
}
.rightSide .listDiv table .priceDiv{
	font-family:'微软雅黑'; 
	font-size:20px; 
	color:#FFEA06; 
	height:32px; 
	padding-left:8px; 
	border:0px solid red;
}
.rightSide .listDiv table .butnDiv{
	background:url("../images/tubiao.gif") no-repeat; 
	width:80px; 
	text-align:center; 
	border:0px solid red;
}
.rightSide .newsList div{
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
	height: 30px;
	vertical-align: bottom;
	margin-top: 3px;
}
.rightSide .zyjsDetail div{
	float:left;
}
.rightSide .zyjsDetail .logoDiv{
	width: 240px;
	border-right: 1px solid #808080;
	height: 200px;
}

.rightSide .zyjsDetail .contentDiv{
	width: 530px;
	margin-left:10px;
	border: 0px solid #808080;
}

.rightSide .zyjsDetail .contentDiv .xxDiv{
	width: 100%;
	height: 30px;
	border: 0px solid #808080;
	font-family:"黑体";
}
.rightSide .zyjsDetail .contentDiv .xxDiv span{
	color: #990000;
	font-size:14px;
	font-weight:bold;
}
.rightSide .zyjsDetail .contentDiv .btnDivs div{
	border: 0px solid #808080;
	margin: 0px 3px 0px 3px;
}
.rightSide .ckList div{	
	width: 280px;
	height: 225px;
	border:1px solid #808080;
	float:left;
	margin: 5px 0px 5px 0px; 
}

#gkTop1 .xxNameList{
	float:left;
	border:0px solid #808080;
	height:225px;
	width:280px;
	margin:10px 0px 10px 60px;
	background-image:url("../images/ck_bg.gif");
}
#gkTop1 .xxNameList table{
	margin:5px auto;
}
#gkTop1 .xxNameList table .xxTitleTd{
	font:'黑体'; 
	font-size:24px; 
	color:#000000; 
	font-weight: 200;
}
#gkTop1 .xxNameList table .xxButnDiv{
	background:url("../images/xiangxi_03.jpg") no-repeat; 
	width:73px; 
	text-align:center;
	margin-left:165px;
}
.zkTitleBgImg{
	background:url("../images/rmzk_title.jpg")  no-repeat;
}
.zkTitleBgImg div{
	float: left;
}
.crxlBgImg{
	background:url("../images/crxl_title.jpg")  no-repeat;
}
.crxlBgImg div{
	float: left;
}
.ycxlBgImg{
	background:url("../images/ycxl_title.jpg")  no-repeat;
}
.ycxlBgImg div{
	float: left;
}
.zxggBgImg{
	background:url("../images/zxgg_title.jpg")  no-repeat;
}
.jyxwBgImg{
	background:url("../images/jyxw_title.jpg")  no-repeat;
}
.kscsBgImg{
	background:url("../images/kscs_title.jpg")  no-repeat;
}
.xwzxBgImg{
	background:url("../images/xwzx_title.jpg")  no-repeat;
}
.xwzxBgImg div{
	float: left;
}
.zyjsBgImg{
	background:url("../images/zyjs_title.jpg")  no-repeat;
}
.zyjsBgImg div{
	float: left;
}
.wsbmBgImg{
	background:url("../images/wsbm_title.jpg")  no-repeat;
}
.wsbmBgImg div{
	float: left;
}
.yjsBgImg{
	background:url("../images/ssyjs_title.jpg")  no-repeat;
}
.yjsBgImg div{
	float: left;
}

#wsbmTab{
	margin-top: 10px;
	width:98.5%;
	margin-left:5px;
	border:1px solid #909090; 
	border-bottom:0px solid #909090; 
}
#wsbmTab table{
	width:100%;
}
#wsbmTab tr{
	height: 40px;
	border-bottom:1px dotted #666666;
	vertical-align:bottom;
	background-color:#f0f0f0;
}
#wsbmTab tr td,th{
	padding-top:5px;
}
#wsbmTab tr th span{
	color: red;
	font-size:14px;
}
.subBut{
	width:98.5%;
	margin-left:5px;
	border:1px solid #909090; 
	border-top:0px solid #909090; 
}
.subBut .sDiv{
	border:0px solid red;
	margin:5px 35%;
}
.bmxqTitle{
	font:'宋体'; 
	color:red;
	width:98.3%; 
	height:40px; 
	border:1px solid #909090; 
	margin:5px 5px 0px 5px;
	font-size:22px; 
	font-weight:bold;
	padding-left:2px;
	background-color:#CCCCCC;
}

/* 列表上下滚动 */
.xwList { 
	width:100%; 
	height:220px;  
	overflow:auto; 
}
.xwList dt { 
	font:normal 14px Georgia; 
	padding:0 10px 5px 10px; 
	background-color:#e5e5e5; 
	padding-top:10px; 
	border:1px solid #ffffff; 
	border-bottom:none; 
	border-right:none; 
	position:relative; 
}
.xwList dd { 
	margin-left:0; 
	font:normal 11px Verdana; 
	padding:0 10px 10px 10px; 
	border-bottom:1px solid #aaaaaa; 
	background-color:#e5e5e5; 
	border-left:1px solid #ffffff; 
	position:relative; 
}
.xwList dd.last { 
	border-bottom:1px solid #ffffff; 
}
.xwList div { 
	margin-top:0; 
}

/* Common */
.phoneDiv{
	font:'宋体'; 
	width:475px; 
	height:40px; 
	margin-left:250px; 
	color:#FFFFFF; 
	font-size:22px; 
	font-weight:bold;
}
.moreDiv{
	font:'宋体'; 
	width:40px; 
	height:20px; 
	margin-top:10px;
}
.bgColor{
	background-color:#f85921;
}
.cvipBg{
	background-image:url("../images/zk_vip_bg.jpg");
}
.zkBg{
	background-image:url("../images/zk_bg.jpg");
}
.bkVipBg{
	background-image:url("../images/bk_vip_bg.jpg");
}
.bkBg{
	background-image:url("../images/bk_bg.jpg");
}
.ckBg{
	background-image:url("../images/ck_bg.gif");
}
.autoCenter{
	margin-left: auto; 
	margin-right: auto;
}
.top_5{
	margin-top:5px;
}
.left_5{
	margin-left:5px;
}
.right_5{
	margin-right:5px;
}
.bottom_5{
	margin-bottom:5px;
}
.buttonDiv{
	width: 104px;
	height: 28px;
	background:url(../images/liuyan_09.jpg) no-repeat;
	text-align:center;
	font-size:16px;
	font-family:'黑体';
	font-weight:bold;
	cursor:pointer;
}

/*index.asp*/
.newsDiv{
	border:5px solid blue; 
	border-top:0px; 
	width:290px;
}
.newsDiv div{
	width:100%; 
	height:35px;
	margin-left:4px;
}
.adDiv{
	background:url("../images/bt2.gif") no-repeat;
	width:330px;
	height:28px;
	border:1px solid #c0c0c0;
	border-bottom:0px;
	color:#006b98;
	font-weight: bold;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 28px;
	text-indent: .8cm;
}
.adDiv span{
	float:right;
	margin-right:3px;
	font-weight:normal;
	font-size:12px;
	color:#999999;
}
.newsItem{
	padding:10px 20px 5px 20px; 
	background:#f0f0f0; 
	border:1px solid #c0c0c0; 
	font-size:90%; 
	margin-bottom:20px; 
	width:290px;
	min-height: 200px;
}
.errInpt{
	background:#FFC0CB;
	border:1px solid #DC143C;	
}